.categories{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    gap: 1rem;
    margin-block-start: 20px;
    // margin-inline-start: 20px;
    overflow-x:auto;
    // height: 50px;
    // margin: 1rem;
    // padding: 20px;
    // border: 1px solid red;
    &::-webkit-scrollbar{
        display: none;
    }
    &-item{
        box-sizing: border-box;
        background-color: lightgrey;
        padding: 1rem;
        border-radius: 10px;

    }
    &-item:hover{
        background-color: orange;
        border-radius: 10px;
        a{
            color:white;
        }
    }
    &-item:focus-within{
        background-color: orange;
        border-radius: 10px;
        a{
            color:white;
        }
    }

}