.categories{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-block-start: 20px;
    margin-inline-start: 20px;
    overflow-x:auto;
    height: 3rem;
    &::-webkit-scrollbar{
        display: none;
    }
    &-item{
        background-color: lightgrey;
        border-radius: 10px;
        a{
            padding: 15px 10px;
        } 

    }
    &-item:hover{
        background-color: orange;
        border-radius: 10px;
        a{
            color:white;
        }
    }

}