body{
    display: grid;
    grid-template-areas: "header header"
                            "aside main"
                            "aside main";
    header{
        grid-area: header;
    }
    main{
        display: contents;
    }
}
aside{
    grid-area: aside;
}
.hero{
    grid-area: main;
}