header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 10px 0px rgba(81, 81, 81, 0.47);
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 7;
  .header-logo {
    font-size: 2rem;
    color: orange;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    .icon {
      height: 100%;
      width: 3rem;
    }
  }
  .menu{
    display: flex;
    gap: 2rem;
    .bell{
        width: 1.5rem;
        height: 2rem;
        fill: lightgrey;
        stroke: lightgray;
    }
    .bell:hover{
        fill: darkgray;
        filter: drop-shadow(2px 2px 2px orange);
    }
  }
}

input[type="search"] {
  background-color: transparent;
  backdrop-filter: blur(10px);
  width: 30vw;
  position: relative;
  border-radius: 5px;
  border: 1px solid lightgray;
}
input[type="search"]:hover {
  border: 1px solid hwb(39 58% 31%);
  filter: drop-shadow(2px 2px 2px orange);
}
.search-form {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  height: calc(100% - 2px);
  fill: none;
  background-color: lightgray;
  width: 14px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  &:hover{
    // background-color:darken($color: lightgray, $amount: 30%) lightgray;
    background-color: gray;
    fill: white;
    filter: drop-shadow(2px 2px 2px orange);
  }
}
.micro {
  position: absolute;
  top: 1px;
  right: -48px;
  height: calc(100% - 2px);
  fill: lightgray;
  width: 14px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.micro:hover {
  fill: grey;
  filter: drop-shadow(2px 2px 2px orange);
}

.dropdown {
  position: relative;
  padding-right: 20px;
  .dropbtn {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: orange;
    .profile {
      width: 1rem;
      height: 1rem;
    }
  }
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: lightgray;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    left: -50px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);;
    backdrop-filter: blur(10px);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    a {
      display: flex;
      color: #000000;
      padding: 5px;
      text-decoration: none;
      border:1px solid lightgrey;
      border-radius: 2px;
      &:hover{
        filter: drop-shadow(2px 2px 2px orange);
       
      }
      .icon{
        fill: darkgray;
      }
      .logOut{
        stroke: red;
      }
    }
    .exit{
        color:red;
    }
  }
  &:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    a{
        .icon{
            display: block;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
  }
}

